body {
	padding: 2rem;
	font-family: Helvetica, sans-serif;
	font-size:11px;
}

img {
	width: 15rem;
	height: auto;
	display: block;
}

h1,
h2,
th {
	margin:0;
}

th {
	text-align:left;
}

h2 {
	font-size: 11px;
	margin-bottom: 3px;
}